<%= form_for @message do |form| %>
  <% if @message.errors.any? %>
    <div class = "alert alert-danger" role="alert">
      <div><b>Error(s)</b></div>
      <% @message.errors.full_messages.each do |msg| %>
        <li><%=msg%></li>
      <% end %> 
    </div> 
  <% end %>
  <%= form.label :receiver_id %>
  <span style="color:black">
    <%= form.collection_select(:receiver_id, User.all, :id, :username) %>
  </span>
  <!--<%= form.text_field :receiver_id %>-->
  <%= form.label :content %>
  <%= form.text_area :content %><br>
  <%= form.submit 'Send message' %>
<% end %>