<%= form_for @message=Message.new() do |form| %>
  <% if @message.errors.any? %>
    <div class = "alert alert-danger" role="alert">
      <div><b>Error(s)</b></div>
      <% @message.errors.full_messages.each do |msg| %>
        <li><%=msg%></li>
      <% end %> 
    </div> 
  <% end %>
  <h3><%= 'To: ' + User.get_name(params[:locu_id]) %></h3><br>
  <%= form.hidden_field :receiver_id, { value: params[:locu_id]} %>
  <%= form.label :content %>
  <%= form.text_area :content %><br><br>
  <%= form.submit 'Send message', :class => 'btn btn-primary' %>
<% end %>
