<link href="/assets/messages.css" rel="stylesheet">

<div id="readMessage">
<h3>Message</h3>
<table class = "table">
  <tr>
    <td>From</td>
    <td>To</td>
    <td>Date</td>
  </tr>
  <tr>
    <td><strong><%= @message.sender_id %></strong></td>
    <td><strong><%= @message.receiver_id %></strong></td>
    <td><strong><%= @message.created_at %></strong></td>
  </tr>
</table>

<p><%= @message.content %></p>
<%= link_to 'Back', messages_path %>
</div>