<div id="matches-carousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">

    <% $candidates.each_with_index do |candidate, index| %>
    <% if index == 0 %>
      <div class="item active">
    <% else %>
      <div class="item">
    <% end %>
      <% if candidate["media"] and candidate["media"]["cover_photo"] %>
        <%= image_tag candidate["media"]["cover_photo"], :class => "cover_photo"%>
      <% else %>
        <% if candidate["categories"] %>
          <%= image_tag seedImage(candidate["categories"][0]["name"], "large"), :class => "cover-photo" %>
        <% else %>
          <%= image_tag "carousel-placeholder"+(1+rand(4)).to_s+".jpg", :class => "cover-photo"%>
        <% end %>
      <% end %>
      <div class="carousel-caption">
        <h3><%= candidate["name"] %></h3>
      </div>
    </div>
    <% end %>

  </div>

</div>
    <button class="btn btn-danger" id="reject">REJECT</button>
    <button class="btn btn-success" id="accept">ACCEPT</button>

<script>
$(function() {

  var accepted = false;
  $('#reject').click(function() {
    accepted = false;
    $('#matches-carousel').carousel('next');
  });
  $('#accept').click(function() {
    accepted = true;
    $('#matches-carousel').carousel('next');
  });

  $('#matches-carousel').on('slid.bs.carousel', function() {
    if (accepted) {
      $.ajax({url: "accept",
              data: {type: '<%= params[:type] %>'},
              type: "POST"});
    } else {
      $.ajax({url: "reject", type: "POST"});
    }
  });

});
</script>
